<footer>
    <div class="footer__row__1">
      <h4>Questions? Call 000-800-040-1843</h4>
    </div>
    <div class="footer__row__2">
      <div class="column">
        <a href="#">FAQ</a>
        <a href="#">Investor Relations</a>
        <a href="#">Privacy</a>
        <a href="#">Speed Test</a>
      </div>
      <div class="column">
        <a href="#">Help Centre</a>
        <a href="#">Jobs</a>
        <a href="#">Cookie Preferences</a>
        <a href="#">Legal Notices</a>
      </div>
      <div class="column">
        <a href="#">Account</a>
        <a href="#">Ways to Watch</a>
        <a href="#">Corporate Information</a>
        <a href="#">Only on Netflix</a>
      </div>
      <div class="column">
        <a href="#">Media Centre</a>
        <a href="#">Terms of Use</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
    <div class="footer__row__3">
      <div class="dropdown__container">
        <i class="fas fa-globe"></i>
        <select class="language__dropdown">
          <option value="en">English</option>
          <option value="hi">हिन्दी</option>
        </select>
      </div>
    </div>
    <div class="footer__row__4">
      <p>Netflix India</p>
    </div>
  </footer>
  