<div class="text-form-aligner"> 

    <div class="text-form-container display-flex">
        <h1>Unlimited movies, TV shows and more.</h1>
        <h2>Watch anywhere. Cancel anytime.</h2>

        <form action="" class="display-flex">
            <h3 class="form-h3">Ready to watch? Enter your email to create or restart your membership.
            </h3>

            <div class=" input-container display-flex">
                <input type="email" placeholder="Email address" class="input">
                <button class="red-btn input-btn">Get Started</button>
            </div>
        </form>
    </div>

</div>
<app-movies></app-movies>
<app-tvshow></app-tvshow>
<app-recently-added></app-recently-added>
<app-originals></app-originals>
<router-outlet></router-outlet>
<app-footer></app-footer>